:root {
    /* color palette*/
    --margin-background: #434647;
    --main-text: #5BE762;
}
body
{
    background-image: url(images/backgroundImg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    color: var(--main-text);
    background-color: rgba(0, 0, 0, 0.36);
    background-blend-mode: multiply;
}

/* Header stuff */
header > ul
{
    margin: 0;
    padding: 0;
    background-color: var(--margin-background);
    color: var(--main-text);
    list-style: none;
    text-align: center;
    font-size: 150%;
}
header > ul >li > a
{
    color: var(--main-text);
    text-decoration: none;
}

/* Basic list stuff */
li a.active
{
    background-color: #555555;
    text-decoration: underline;
}
li a:hover:not(.active) {
    background-color: #555555;
}

/* Footer stuff */

footer > ul
{
    margin: 0px;
    padding: 15px;
    background-color: var(--margin-background);
    text-align: center;
    font-size: 150%;
    display: flex;
    justify-content: center;
}
footer > ul > li
{
    list-style-type: none;
    margin-right: 10px;
}
footer > ul > li > a
{
    background-color: var(--main-text);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    color: black;
    text-decoration: none;
}

/* h1 */
h1
{
    font-size: 500%;
    text-align: center;
}

/* h2 */
h2
{
    font-size: 300%;
    text-align: center;
}

/* p */
p
{
    font-size: 150%;
    background-color: rgb(0, 0, 0);
    text-align: center;
}
img
{
    width: 50%;
}

/* forms */
form
{
    display: block;
    text-align: center;
}
label
{
    display: block;
    text-align: left;
    margin-left: 25px;
    margin-top: 5px;
    font-size: 25px;
}
input
{
    width: 75%;
    height: 50%;
    padding: 12px;
    color: black;
}
input[type=submit]
{
    background-color: var(--margin-background);
    color: var(--main-text);
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
}
textarea
{
    width: 75%;
    margin-bottom: 10px;
    color: black;
}


@media screen and (min-width: 600px) {
    header > ul
    {
        height: 10%;
        font-size: 175%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        top: 0%;
    }
    header>ul>li
    {
        margin-top: 1%;
        margin-bottom: 1%;
        margin-right: 5%;
    }
    h1
    {
        padding-top: 50px;
    }
    p 
    {
        padding: 3%;
    }
    footer
    {
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
    .contact-flexer
    {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5%;
    }
    .contact-flexer > label
    {
        background-color: black;
        margin-right: 50px;
        min-width: 80px;
    }
}
@media screen and (min-width: 1450px) {
    header > ul
    {
        font-size: 200%;
        display: block;
        text-align: left;
        position: fixed;
        height: 100%;
        width: 10%;
        top: 0%;
    }
    header>ul>li
    {
        margin-top: 30%;
        margin-left: 10px;
    }
    h1
    {
        margin-top: 3%;
    }
    .aboutFlexContainer {
      display: grid;
      gap: 2px;
      padding-right: 2px;
      padding-left: 1%;
    }

    /* forms */
    input
    {
        width: 75%;
        height: 50%;
        padding: 20px;
        color: black;
    }
    input[type=submit]
    {
        padding: 20px;
    }
    .place-contacts-next-to {
        display: inline-block;
        width: 30%;
        margin-right: 20px;
    }
    
}