:root {
    /* color palette*/
    --margin-background: #434647;
    --main-text: #5BE762;
    --highlight-main-text: #c6e6c8;
}
body
{
    background-image: url(images/backgroundImg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    color: var(--main-text);
    background-color: rgba(0, 0, 0, 0.36);
    background-blend-mode: multiply;
}

/* Header stuff */
header > ul
{
    margin: 0;
    padding: 0;
    background-color: var(--margin-background);
    color: var(--main-text);
    list-style: none;
    text-align: center;
    font-size: 150%;
}
header > ul >li > a
{
    color: var(--main-text);
    text-decoration: none;
}

/* Basic list stuff */
li a.active
{
    background-color: #555555;
    text-decoration: underline;
}
li a:hover:not(.active) {
    background-color: #555555;
}

/* Footer stuff */
footer > ul
{
    margin: 0px;
    padding: 15px;
    background-color: var(--margin-background);
    text-align: center;
    font-size: 1em;
    max-width:100%;
    display: flex;
    justify-content: center;
}
footer > ul > li
{
    list-style-type: none;
}
footer > ul > li > a
{
    background-color: var(--main-text);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    color: black;
    text-decoration: none;
}

/* h1 */
h1
{
    font-size: 100%;
    text-align: center;
}

/* h2 */
h2
{
    font-size: 75%;
    text-align: center;
}

/* p */
p
{
    font-size: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 5px;
}
img
{
    width: 40%;
}

/* forms */
.contact form
{
    display: block;
    text-align: center;
}
.contact label
{
    display: block;
    text-align: left;
    margin-left: 25px;
    margin-top: 5px;
    font-size: 25px;
}
.contact input
{
    width: 75%;
    max-height: 20%;
    padding: 12px;
    color: black;
}
.contact input[type=submit]
{
    background-color: var(--margin-background);
    color: var(--main-text);
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
}
.contact textarea
{
    width: 75%;
    margin-bottom: 10px;
    color: black;
}

/* project page*/
.ProjectsGrid
{
    grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
    display: grid;
    padding: 50px;
    margin-top: 50px;
    justify-content: center;
}
.ProjectsGrid div
{
    border: 1px solid white;
    background-color: #000000;
    padding-top: 10px;
    font-size: 30px;
    text-align: center;
    margin: 10px;
}
.ProjectsGrid img
{
    width: 5em;
}
.ProjectsGrid h2
{
    font-size: 1.5em;
}
.ProjectsGrid p
{
    font-size: .9em;
}
.ProjectsGrid a
{
    text-decoration: none;
    color: var(--main-text);
    size: 50%;
}
.ProjectsGrid a:hover
{
    color: var(--highlight-main-text);
    font-weight: bold;
}

/* Browser games*/
.ScrollingWheel
{
    grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
    display: grid;
    padding: 50px;
    margin-top: 50px;
    justify-content: center;
}
.ScrollingWheel div
{
    border: 1px solid white;
    background-color: #000000;
    padding-top: 10px;
}
.ScrollingWheel div:hover
{
    border: 1px solid rgb(201, 200, 200);
    background-color: #2c2c2c;
}
.ScrollingWheel h2 
{
   text-align: center;
}
.NotMobileSupported
{
    display: none;
}
.OnlyMobileDiv
{
    display: flex;
    text-align: center;
    justify-content: center;
}
.ExtraBreak
{
    margin-bottom: 100px;
}
.ExtraBreak1
{
    margin-bottom: 500px;
}

@media screen and (min-width: 767px) {
    header > ul
    {
        height: 10%;
        font-size: 175%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        top: 0%;
    }
    header>ul>li
    {
        margin-top: 1%;
        margin-bottom: 1%;
        margin-right: 5%;
    }
    h1
    {
        font-size: 500%;
        padding-top: 50px;
        margin-top: 100px;
    }
    h2
    {
        font-size: 300%;
    }
    p 
    {
        font-size: 200%;
        padding: 3%;
        margin-bottom: 5px;
    }
    img
    {
        max-width: 400px;
    }
    footer
    {
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
    .contact .contact-flexer
    {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5%;
    }
    
    .contact .contact-flexer > label
    {
        background-color: black;
        margin-right: 50px;
        min-width: 80px;
    }
    /* project page*/
    .ProjectsGrid
    {
        margin-bottom: 2%;
    }
    .ProjectsGrid p
    {
        font-size: 1.1em;
    }
    .ProjectsGrid img
    {
        width: 13em;
    }
    /* Browser games*/
    .NotMobileSupported
    {
        display: grid;
    }
    .OnlyMobileDiv
    {
        display: none;
    }
    
    /* game popups*/

    #GamePopup
    {
        position: fixed;
        display: flex;
        background-color: rgb(8, 84, 84);
        z-index: 1;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 50px;
        text-align: center;
    }
    /*TTT*/
    .TTTBoard
    {
        grid-template-columns: repeat(3, 200px);
        display: grid;
        text-align: center;
        margin-top: 2%;
        margin-bottom: 5%;
        
    }
    .TTTBoard .cellTTT
    {
        color: red;
        border-style: dashed;
        padding: 20%;
    }
    .TTTBoard .cellTTT:hover
    {
        color: black;
    }
    /*HM*/
    .HMBoard
    {
        text-align: center;
        
        display: grid;
            grid-template-areas:
            "header header"
            "menu content"
            "footer footer";
        
    }
    .HMForm
    {
        padding-top: 10px;
        grid-area: header;
    }
    .HMForm input
    {
        width: 75%;
        height: 15px;
        padding: 12px;
        color: black;
    }
    .HMForm input[type=submit]
    {
        height: 15px;
        padding-bottom: 20px;
        margin-top: 20px;
    }
    #HMMan/*img*/
    {
        /* height: 80%; */
        width: 90%;
        grid-area: content;
    }
    .HMWord
    {
        margin-right: 20px;
    }
    #HMWord/*text*/
    {
        font-size: 30px;
        grid-area: header;
        padding-right: 40px;
    }

    #HMstatus-message
    {
        font-size: 20px;
        grid-area: menu;
    }

    .close-btn
    {
        border-style: dotted;
        background-color: inherit;
        font-size: inherit;
        border-radius: 20px;
        grid-area: footer;
    }

    .close-btn:hover
    {
        border-color: #000000;
    }
    #HMrestart-button, #TTTrestart-button
    {
        border-style: dotted;
        background-color: inherit;
        font-size: inherit;
        border-radius: 20px;
        margin-bottom: 20px;
        grid-area: footer;
    }
    .OnlyMobileDiv
    {
        display: none;
    }
}
@media screen and (min-width: 1450px) {
    header > ul
    {
        font-size: 200%;
        display: block;
        text-align: left;
        position: fixed;
        height: 100%;
        width: 10%;
        top: 0%;
    }
    header>ul>li
    {
        margin-top: 30%;
        margin-left: 10px;
    }
    h1
    {
        margin-top: 3%;
    }
    .aboutFlexContainer {
      display: grid;
      gap: 2px;
      padding-right: 2px;
      padding-left: 1%;
    }

    /* forms */
    .contact input
    {
        max-height: 10%;
        width: 75%;
        height: 50%;
        padding: 20px;
        color: black;
    }
    .contact input[type=submit]
    {
        margin-left: 100px;
        margin-bottom: 100px;
    }
    .contact .place-contacts-next-to {
        display: inline-block;
        width: 30%;
        margin-right: 20px;
    }
    .contact-flexer:not(.place-contacts-next-to) label
    {
        text-align: center;
    }
    .contact textarea
    {
        margin-left: 50px;
        margin-bottom: 50px;
    }
    /* project page*/
    .ProjectsGrid
    {
        padding: 50px;
        margin-top: 0px;
        margin-left: 200px;
    }
    .OnlyMobileDiv
    {
        display: none;
    }
    .ExtraBreak
    {
        margin-bottom: 0px;
    }
}

#GamePopup.Hidden, #TTTBoard.Hidden, #HMBoard.Hidden, #Board2048.Hidden{
    /*PUT THIS AFTER ANY GamePopup things*/
    display: none;
}